<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>-->
<!--    <title>My page</title>-->


<!--    <script>-->
<!--        $.ajax({-->
<!--            type: "GET",-->
<!--            url: "/mypage/user",-->
<!--            data: {},-->
<!--            success: function (response) {-->
<!--                if (response['result'] == 'success') {-->
<!--                    // 로그인이 정상적으로 되면, 토큰을 받아옵니다.-->
<!--                    // 이 토큰을 mytoken이라는 키 값으로 쿠키에 저장합니다.-->
<!--                    $.cookie('mytoken', response['token'], {path: '/'});-->
<!--                    // alert($.cookie("mytoken"));-->
<!--                    alert('로그인 완료!')-->
<!--                    window.location.href = '/'-->
<!--                } else {-->
<!--                    // 로그인이 안되면 에러메시지를 띄웁니다.-->
<!--                    alert(response['msg'])-->
<!--                }-->
<!--            }-->
<!--        });-->
<!--    </script>-->

<!--</head>-->
<!--<body>-->




<!--</body>-->
<!--</html>-->