<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <title>My page</title>


    <script>
        $(document).ready(function () {
            show_user_info();
        });

        function show_user_info() {
            $('#user').empty()
            $.ajax({
                type: "GET",
                url: '/user_info',
                data: {},
                success: function (response) {
                    // alert(response['msg'])
                    // console.log(response['user_info'])
                    let rows = response['user_info']

                    let email, password, name, profile
                    for(let i=0; i<rows.length; i++){
                        // console.log(rows[i])
                        email = rows[1]
                        password = rows[2]
                        name = rows[3]
                        profile = rows[5]
                    }

                    let temp_html = `<tr>
                                        <td>${email}</td>
                                        <td>${password}</td>
                                        <td>${name}</td>
                                        <td><img src="../static/images/${profile}" alt="${email} profile"></td>
                                    </tr>`
                    $('#user').append(temp_html)

                }
            });
        }
    </script>

</head>
<body>


<table>
    <thead>
    <tr>
        <th>이메일</th>
        <th>비밀번호</th>
        <th>이름</th>
        <th>프로필</th>
    </tr>
    </thead>

    <tbody id="user">
<!--         <tr>-->
<!--            <td>bbbb</td>-->
<!--            <td>2222</td>-->
<!--            <td>brain</td>-->
<!--            <td><img src="../static/images/file-2022-12-06-15-04-59.png" alt="bbbb"></td>-->
<!--        </tr>-->
    </tbody>
</table>

<hr>

<button>수정하기</button>


</body>
</html>